body{
    margin:0;
}

#container{
    display:flex;
    flex-direction:row;
}


#sideboard{
    flex: 1 1 auto;
    background-color: rgb(0, 162, 255);
    height: 100vh;
    
    display:grid;
    grid-template-rows: 75px;
    grid-auto-rows: 75px;
}

.sideboardElement{
    display:grid;
    grid-template-columns: 50px auto;
    align-items: center;
    column-gap: 10px;

}

h3{
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 26px;
}

svg{
    justify-self: end;
    color: white;
}

.sideboardLinks{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#content{
    flex:9 1 auto;
    background-color: white;

    display:grid;
    grid-template-rows: 20vh 80vh;
}

#header{
    background-color: white;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    
    min-width: 0px;
    min-height: 200px;
    box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
}

#headerSearch{
    display:grid;
    grid-template-columns: 10% 90%;
    gap: 10px;
    place-items: center;
}

#searchbar{
    place-self:center start;
    width: 250px;
    background-color: rgb(219, 214, 214);
    border-color:rgb(204, 200, 200);
    border-radius: 10px;
    border-style: solid;

}

#upright{
    display:flex;
    flex-direction: row;

    justify-content: end;
    align-items: center;
    gap: 25px;
    padding-right: 50px;
}


#profileName{
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
}

#smallPic{
    border: none;
    border-radius: 25px;

    height: 50px;
    width: 50px;
}

#downleft{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;

    grid-template-areas: 
        "pic text1"
        "pic text2";
}

#small{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;

    margin:0px;

    align-self:end;
}

#big{
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;

    margin:0px;

    align-self:start;
}


#bigPic{
    width:75px;
    height:75px;

    border:none;
    border-radius: 37px;

    grid-area: pic;

    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

#downright{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



#header .button{
    background-color: rgb(0, 162, 255);
    color: white;
    width: 130px;
    height: 50px;
    border:none;
    border-radius: 25px;

    font-size: 20px;
}